.cards {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  margin: 0 auto;
}

.card, .card-status {
  width: 25%;
  min-width: 200px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 16px;
  margin: 12px 24px;
}

.card {
  padding: 12px;
  font-weight: bold;
  text-transform: capitalize;
}

.card-image {
  width: 100%;
}

.types {
  text-align: left;
  margin-left: 16px;
  margin-top: 12px;
}

.types-list {
  margin-top: -12px;
  padding: 12px 24px;
}
